<h1>Welcome to The Gossip Project</h1>


<p>
  <% if user_signed_in? %>
  <h2> <%= link_to "Regarde les gossips", '/gossips' %></h2>

		<li> 
			<%= link_to "Edit account", edit_user_registration_path %>
		</li>	
		<li> 
			<%= link_to "se déconnecter", destroy_user_session_path,
          method: :delete %>


		</li>

      
  <% else %>
     <li> <%= link_to "se connecter", new_user_session_path %>
     </li>

  <% end %>

</p>
